#main
{
    margin:0px auto;
    width:90%;
    text-align:center;
}
#head
{
    height:120px;
    background-color:#0ff;
    line-height:120px;
}
#menu
{
    height:28px;
    background-color:#f00;
    line-height:28px;
}
#content
{
    line-height:450px;
}

#content-main
{
    height:450px;
    background-color:#808080;
    float:left;
    width:55%;
   
}
#left-control
{
    float:left;
    height:450px;
    width:20%;
    background-color:#4cff00;
}
#right-control
{
    height:450px;
   background-color:#ffd800;
}
#footer
{
    height:80px;
    background-color:#0026ff;
    line-height:80px;
    background-color:#0026ff;
}