@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menu">MENU</div>
<div id="content">
    <div id="content-left">LEFT-CONTROL</div>
    <div id="content-right">CONTENT-MAIN</div>
</div>
