@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menu">MENU</div>
<div id="content">
    <div id="left-control">LEFT-CONTROL</div>
    <div id="content-main">CONTENT-MAIN</div>
    <div id="right-control">CONTROL-RIGHT</div>
</div>

