#main
{
    margin:0px auto;
    width:90%;
    text-align:center;
}
#head
{
    height:120px;
    background-color:#0ff;
    line-height:120px;
}
#menu
{
    height:28px;
    background-color:#f00;
    line-height:28px;
}
#content
{
    line-height:450px;
}
#content-left
{
    float:left;
    height:450px;
    width:30%;
    background-color:#ffd800;
}
#content-right
{
    height:450px;
    background-color:#808080;
   
}
#footer
{
    height:80px;
    background-color:#0026ff;
    line-height:80px;
}